
.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(85, 85, 85, 0.486);
    transition: opacity 250ms linear, visibility 250ms linear;
    &.is-hidden .modal-buy-now{
    transform: translate(-50%, -50%) scale(0);
 }
}

is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-buy-now{
    background-color: #fcfcfc;
    border-radius: 10px;
    border: 2px solid var(--accent-color);
    height: 100%;
    @media screen and (min-width: 480px){
        max-width: 480px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%) scale(1);
    }
    @media screen and (min-width: 768px){
    max-width: 568px;
    height: 644px;
    }
}

.buy-now-form{
    position: relative;
    padding: 28px;
    width: 100%;
    height: 100%;
    @media screen and (min-width: 768px){
        padding: 32px 54px;
    }

    &__title{
        font-family: 'Seymour One';
        display: block;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: var(--secondary-text-color);
        @media screen and (min-width: 768px){
           margin-bottom: 40px;
        }
        }  
}

.button-closed{
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: fill 250ms linear;
    &:hover {
        fill: var(--accent-color);
      }
    
      &:focus {
        fill: var(--accent-color);
      }
}

.modal-buy-now__list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0;
    list-style: none;
    margin-bottom: 32px;
    @media screen and (min-width: 768px){
        flex-wrap: nowrap;
        flex-direction: row;
        margin-bottom: 40px;
     }
    }

    .modal-buy-now__item{
        width: 132px;
        height: 199px;
        margin-bottom: 20px;
        @media screen and (min-width: 768px){
            margin-bottom: 40px;
            margin-right: 32px;
         }
        &:last-child{
            margin-bottom: 0;
            @media screen and (min-width: 768px){
                margin-bottom: 40px;
             }
        }
        &:nth-last-child(1){
            margin-right: 0;
            } 
            &{
                position: relative;
            }    
    }

    
   .modal-buy-now__wrap{
    margin-top: 7px;
    width: 132px;
    height: 132px;
    border-radius: 50%; 

    &.modal-buy-now__wrap--green{
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);  
    }
    &.modal-buy-now__wrap--yellow{
        background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    }
    &.modal-buy-now__wrap--brown{
        background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
        box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    }
   }

   .modal-buy-now__icon{
    position: relative;
    bottom: 7px;     
    display: block;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    z-index: 1;
}

.modal-buy-now__text{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 136px;
    margin: 0;
    text-align: center;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    border-radius: 15px;
    &.modal-buy-now__text--green{
        padding: 96px 16px 20px 16px;
        background: transparent;
        border: 2px solid #96AF8C;
        filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
        
    }
    &.modal-buy-now__text--yellow{
        padding: 96px 13px 20px 13px;
        background: #EFD478;
        border: 2px solid #EFD478;
        box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    }
    &.modal-buy-now__text--brown{
        padding: 95px 13px 20px 13px;
        background: transparent;
        border: 2px solid #D6936D;
        filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));  
    }
    }

    .buy-now-box{
        display: flex;
        flex-direction: column;
        max-width: 224px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (min-width: 768px){
            max-width: 368px;
         }
    }

    .buy-now-box__item{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin-bottom: 12px;
        @media screen and (min-width: 768px){
            margin-bottom: 16px;
         }
        &--comment{
            margin-bottom: 26px;
            @media screen and (min-width: 768px){
                margin-bottom: 32px;
             }
        }
        
}

.buy-now-box__input{
    width: 100%px;
    height: 32px;
    margin: 0;
    padding: 8px 12px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    &::placeholder{
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 12px;
        line-height: 1.42;
        color: var(--secondary-text-color);
        }
}

.buy-now-box__input--text{
    width: 100%;
    height: 65px;
    margin: 0;
    padding: 8px 12px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    resize: none;
    &::placeholder{
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 12px;
        line-height: 1.42;
        color: var(--secondary-text-color);
        }
}
.pretty-button{
    width: 114px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 200ms linear, color 200ms linear;
}
.pretty-button:hover,
.pretty-button:focus
{
    color: #fff;
}

// .forma-modal__button{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     min-width: 114px;
//     height: 42px;
//     padding: 12px 34px;
//     margin-left: auto;
//     margin-right: auto;
//     background: #F8D24E;
//     border-radius: 10px;
//     border: none;
//     transition: background-color 250ms linear;
//     &:hover {
//         background-color: var(--buttons-bgc);
//       }
    
//       &:focus {
//         background-color: var(--buttons-bgc);
//       }
// //     &--text{
// //         font-family: 'Montserrat';
// //         font-weight: 600;
// //         font-size: 12px;
// //         line-height: 1.25;
// //         color: var(--secondary-text-color); 
// //     }
// // }

// // .forma-modal__button:hover .forma-modal__button--text{
// //     color: #fff;

// }
