@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --background-color:#84A178;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.background-color {
  margin: 0 auto;
  background-color: var(--background-color);
  width: 100%;
}
@media screen and (min-width: 480px) {
  .background-color {
    width: 481px;
  }
}
@media screen and (min-width: 768px) {
  .background-color {
    width: 769px;
  }
}
@media screen and (min-width: 1200px) {
  .background-color {
    width: 1201px;
  }
}

.container {
  padding: 0 21px;
  width: 100%;
  background-color: #84A178;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 100px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 29px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 16px;
  }
}

.section {
  padding: 63px 0;
}
@media screen and (min-width: 480px) {
  .section {
    padding: 60px 0;
  }
}

.products {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #AEC6A5;
  background-image: url("../images/products/backgroud_mobile1x.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url("../images/products/backgroud_mobile2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .products {
    background-image: url("../images/products/background_tablet1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products {
    background-image: url("../images/products/background_tablet2x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .products {
    background-image: url("../images/products/backgroud_desktop1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products {
    background-image: url("../images/products/backgroud_desktop2x.jpg");
  }
}
.products__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.products__lable {
  display: flex;
  font-size: 18px;
  color: #131311;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}
.products__title {
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 1.27em;
}
.products__item {
  position: relative;
  display: flex;
}
.products__card.link {
  display: block;
}
.products__pretitle {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2em;
  color: #131311;
  align-items: center;
  justify-content: center;
}
.products__text {
  font-size: 14px;
  padding: 40px;
}
.products__card-icecream::before {
  content: "";
  position: absolute;
  background-image: url("../images/products/kelsey1xmobo.jpg");
  top: 100px;
  left: 100px;
}
.products__card-icecream {
  position: relative;
  display: block;
  text-align: center;
  width: 280px;
  height: 420px;
  background-color: #AEC6A5;
  border-radius: 24px;
}
.products__card-milkshakes {
  position: relative;
  display: block;
  text-align: center;
  width: 280px;
  height: 420px;
  background-color: #EFD478;
  border-radius: 24px;
}
.products__card-icecoffee {
  position: relative;
  display: block;
  width: 280px;
  height: 420px;
  text-align: center;
  background-color: #D6936D;
  border-radius: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FCFCFC;
  opacity: 1;
  overflow-y: scroll;
}

.modal-ingredients {
  display: inline-block;
  position: absolute;
  max-width: 280px;
  width: 100%;
  height: 968px;
  padding: 28px 20px;
  background-color: #FCFCFC;
  border-color: 2px solid #F8D24E;
  border-radius: 10px;
}
.modal-ingredients__title {
  display: flex;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4em;
  color: #131313;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.modal-ingredients__types {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.modal-ingredients__weight {
  margin: 30px 0;
}
.modal-ingredients__mark.link {
  display: block;
  width: 53px;
  height: 72px;
  color: #000;
  border-radius: 40px;
  border-color: 2px solid #9CBE8F;
}
.modal-ingredients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
}
.modal-ingredients__pretitle {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #131313;
  justify-content: center;
  margin-bottom: 24px;
}
.modal-ingredients__ingredients {
  display: block;
  width: auto;
  margin: 0 auto;
  margin-bottom: 40px;
}
.modal-ingredients__list {
  display: block;
}
.modal-ingredients__item-list {
  display: flex;
  justify-content: space-between;
  gap: 11px;
}
.modal-ingredients__text {
  font-size: 14px;
  line-height: 1.76em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  display: flex;
}
.modal-ingredients__form {
  display: block;
  gap: 16px;
  width: 100%;
  position: relative;
}
.modal-ingredients__lable {
  position: absolute;
  display: inline-block;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 1.4em;
  color: #131313;
  text-align: left;
}
.modal-ingredients__input:not(:last-child) {
  margin-bottom: 16px;
}
.modal-ingredients__input {
  display: inline-block;
  width: 240px;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
}
.modal-ingredients__comments {
  display: inline-block;
  width: 240px;
  height: 84px;
  resize: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
}/*# sourceMappingURL=index.css.map */