<div class="container advantages">
  <h2 class="is-hidden">Our advantages</h2>
  <ul class="advantages__list">
    <li class="advantages__item">
      <span class="advantages__img">
        <svg width="36px" height="36px">
          <use href="./images/symbol-defs.svg#icon-cow"></use>
        </svg>
      </span>
      <h3 class="advantages__name">721</h3>
      <p class="advantages__descript">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <span class="advantages__img">
        <svg width="36px" height="36px">
          <use href="./images/symbol-defs.svg#icon-ice-cream"></use>
        </svg>
      </span>
      <h3 class="advantages__name">16 kg</h3>
      <p class="advantages__descript">
        Aliquam ac dui vel dui vulputate consectetur.сг Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <span class="advantages__img">
        <svg width="36px" height="36px">
          <use href="./images/symbol-defs.svg#icon-weight"></use>
        </svg>
      </span>
      <h3 class="advantages__name">84</h3>
      <p class="advantages__descript">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</div>
