<section class="section">
  <div class="container">
    <h2 class="is-hidden">Contacts</h2>
    <ul class="contacts-grid">
      <li class="grid__item">
        <p class="contacts__representation">CAFE</p>
        <p class="contacts__adress">
          Chicago
          <spann class="contacts__adress--street">
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </spann>
        </p>

        <p class="contacts__work-time">
          Monday - Friday
          <span class="contacts__work-time--time contacts__work-time--margin"
            >06:00 AM - 10:00 PM</span
          >

          Saturday - Sunday
          <span class="contacts__work-time--time">08:00 AM - 16:00 PM</span>
        </p>
        <p>
          <a href="tel:+610383766284" class="contacts__link contacts__link--tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__link"
            >noreply@envato.com</a
          >
        </p>
      </li>

      <li class="grid__item">
        <p class="contacts__representation">FOODTRUCK</p>
        <p class="contacts__adress">
          Los Angeles
          <span class="contacts__adress--street"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</span
          >
        </p>

        <p class="contacts__work-time">
          Monday - Friday
          <span class="contacts__work-time--time contacts__work-time--margin"
            >06:00 AM - 10:00 PM</span
          >

          Saturday - Sunday
          <span class="contacts__work-time--time">08:00 AM - 16:00 PM</span>
        </p>
        <p>
          <a href="tel:+610383766284" class="contacts__link contacts__link--tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__link"
            >noreply@envato.com</a
          >
        </p>
      </li>

      <li class="grid__item">
        <p class="contacts__representation">CAFE</p>
        <p class="contacts__adress">
          New York
          <span class="contacts__adress--street">
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </span>
        </p>

        <p class="contacts__work-time">
          Monday - Friday
          <span class="contacts__work-time--time contacts__work-time--margin"
            >06:00 AM - 10:00 PM</span
          >

          Saturday - Sunday
          <span class="contacts__work-time--time">08:00 AM - 16:00 PM</span>
        </p>
        <p>
          <a href="tel:+610383766284" class="contacts__link contacts__link--tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__link"
            >noreply@envato.com</a
          >
        </p>
      </li>
    </ul>
    <div class="button-container">
      <button type="button" class="btn btn--location">Our Locations ></button>
      <button type="button" class="btn btn--franchise">Franchise ></button>
    </div>
  </div>
</section>
