<section class="customer-reviews">
	<div class="container">
		<h1 class="customer-reviews-title is-hidden">Reviews</h1>
		<div class="reviews-box">
			<div class="swiper-reviews">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="reviews">
							<picture>
								<source
									srcset="./images/gallery-reviews/reviews1@320.jpg 1x, ./images/gallery-reviews/reviews1@x2.jpg 2x"
									media="(min-width: 1200px)" />
								<img class="reviews__foto" src="./images/gallery-reviews/reviews1@320.jpg" alt="">
							</picture>
							<div class="reviews__wrapper">
								<p class="reviews__text">
									I love visiting your cafe.
									You prepare the most delicious ice cream in Los Angeles!
									In addition, you have beautiful serving, cozy atmosphere and polite staff.
								</p>
							</div>
							<p class="reviews__title">
								Emily, Los Angeles
							</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="reviews">
							<picture>
								<source
									srcset="./images/gallery-reviews/reviews2@320.jpg 1x, ./images/gallery-reviews/reviews2@x2.jpg 2x"
									media="(min-width: 1200px)" />
								<img class="reviews__foto" src="./images/gallery-reviews/reviews2@320.jpg" alt="">
							</picture>
							<div class="reviews__wrapper">
								<p class="reviews__text">
									Every day we come to you with friends after classes in college. We love your ice cream and
									casual atmosphere!
								</p>
							</div>
							<p class="reviews__title">
								Bryan, New-York
							</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="reviews">
							<picture>
								<source
									srcset="./images/gallery-reviews/reviews3@320.jpg 1x, ./images/gallery-reviews/reviews3@x2.jpg 2x"
									media="(min-width: 1200px)" />
								<img class="reviews__foto" src="./images/gallery-reviews/reviews3@320.jpg" alt="">
							</picture>
							<div class="reviews__wrapper">
								<p class="reviews__text">
									Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
									excellent service - always served politely and quickly!
								</p>
							</div>
							<p class="reviews__title">
								Diana, Chicago
							</p>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</section>