
<footer class="background-color footer">
  <div class="container">
    <div class="footer-text">
      <p class="footer-text-title">homemade ice cream made</p>
      <p class="footer-text-slog">WITH PASSION</p>
    </div>
    <div class="footer-contacts">
      <ul class="footer-social-list">
        <li class="footer-social-item"><a href="#" target="_blank" rel="noopener noreferrer">
            <div class="footer-social-icon"><svg class="footer-social-svg">
                <use href="./images/symbol-defs.svg#github" width="34" height="34"></use>
              </svg>
            </div>
          </a></li>
        <li class="footer-social-item"><a href="#" target="_blank" rel="noopener noreferrer">
            <div class="footer-social-icon"><svg class="footer-social-svg">
                <use href="./images/symbol-defs.svg#telegram" width="34" height="34"></use>
              </svg>
            </div>
          </a></li>
        <li class="footer-social-item"><a href="#" target="_blank" rel="noopener noreferrer">
            <div class="footer-social-icon"><svg class="footer-social-svg">
                <use href="./images/symbol-defs.svg#facebook" width="34" height="34"></use>
              </svg>
            </div>
          </a></li>
      </ul>
      <span class="footer-contact-tel">Feel free to contact <a class="footer-contact-link" href="tel:+610383766284">+61 (0) 383 766 284</a> </span>
    </div>
  </div>
  <div class="footer-copyright">
    <p class="footer-copyright-text">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>