
  <div class="container">
    <div class="gallery-box">
      <div class="swiper-gallery">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="./images/gallery-reviews/gallery1@1200.jpg 1x, ./images/gallery-reviews/gallery1@1200x2.jpg"
                media="(min-width: 1200px)" />
              <source srcset="./images/gallery-reviews/gallery1@480.jpg 1x, ./images/gallery-reviews/gallery1@480x2.jpg"
                media="(min-width: 768px)" />
              <source srcset="./images/gallery-reviews/gallery1@768.jpg 1x, ./images/gallery-reviews/gallery1@768x2.jpg"
                media="(min-width: 480px)" />
              <img class="gallery__img" src="./images/gallery-reviews/gallery1@320.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="./images/gallery-reviews/gallery2@1200.jpg 1x, ./images/gallery-reviews/gallery2@1200x2.jpg"
                media="(min-width: 1200px)" />
              <source srcset="./images/gallery-reviews/gallery2@480.jpg 1x, ./images/gallery-reviews/gallery2@480x2.jpg"
                media="(min-width: 768px)" />
              <source srcset="./images/gallery-reviews/gallery2@768.jpg 1x, ./images/gallery-reviews/gallery2@768x2.jpg"
                media="(min-width: 480px)" />
              <img class="gallery__img" src="./images/gallery-reviews/gallery2@320.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="./images/gallery-reviews/gallery3@1200.jpg 1x, ./images/gallery-reviews/gallery3@1200x2.jpg"
                media="(min-width: 1200px)" />
              <source srcset="./images/gallery-reviews/gallery3@480.jpg 1x, ./images/gallery-reviews/gallery3@480x2.jpg"
                media="(min-width: 768px)" />
              <source srcset="./images/gallery-reviews/gallery3@768.jpg 1x, ./images/gallery-reviews/gallery3@768x2.jpg"
                media="(min-width: 480px)" />
              <img class="gallery__img" src="./images/gallery-reviews/gallery3@320.jpg" alt="">
            </picture>
          </div>
        </div>
      </div>
    </div>


    <div class="reviews-box">
      <div class="swiper-reviews">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="reviews">
              <picture>
                <source
                  srcset="./images/gallery-reviews/reviews1@320.jpg 1x, ./images/gallery-reviews/reviews1@x2.jpg 2x"
                  media="(min-width: 1200px)" />
                <img class="reviews__foto" src="./images/gallery-reviews/reviews1@320.jpg" alt="">
              </picture>
              <div class="reviews__wrapper">
                <p class="reviews__text">
                  I love visiting your cafe.
                  You prepare the most delicious ice cream in Los Angeles!
                  In addition, you have beautiful serving, cozy atmosphere and polite staff.
                </p>
              </div>
              <p class="reviews__title">
                Emily, Los Angeles
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews">
              <picture>
                <source
                  srcset="./images/gallery-reviews/reviews2@320.jpg 1x, ./images/gallery-reviews/reviews2@x2.jpg 2x"
                  media="(min-width: 1200px)" />
                <img class="reviews__foto" src="./images/gallery-reviews/reviews2@320.jpg" alt="">
              </picture>
              <div class="reviews__wrapper">
                <p class="reviews__text">
                  Every day we come to you with friends after classes in college. We love your ice cream and
                  casual atmosphere!
                </p>
              </div>
              <p class="reviews__title">
                Bryan, New-York
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews">
              <picture>
                <source
                  srcset="./images/gallery-reviews/reviews3@320.jpg 1x, ./images/gallery-reviews/reviews3@x2.jpg 2x"
                  media="(min-width: 1200px)" />
                <img class="reviews__foto" src="./images/gallery-reviews/reviews3@320.jpg" alt="">
              </picture>
              <div class="reviews__wrapper">
                <p class="reviews__text">
                  Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
                  excellent service - always served politely and quickly!
                </p>
              </div>
              <p class="reviews__title">
                Diana, Chicago
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
