<section class="gallery">
	<div class="container">
		<h1 class="gallery__title is-hidden">Gallery</h1>
		<div class="gallery-box">
			<div class="swiper-gallery">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<picture>
							<source
								srcset="./images/gallery-reviews/gallery1@1200.jpg 1x, ./images/gallery-reviews/gallery1@1200x2.jpg"
								media="(min-width: 1200px)" />
							<source
								srcset="./images/gallery-reviews/gallery1@480.jpg 1x, ./images/gallery-reviews/gallery1@480x2.jpg"
								media="(min-width: 768px)" />
							<source
								srcset="./images/gallery-reviews/gallery1@768.jpg 1x, ./images/gallery-reviews/gallery1@768x2.jpg"
								media="(min-width: 480px)" />
							<img class="gallery__img" src="./images/gallery-reviews/gallery1@320.jpg" alt="">
						</picture>
					</div>
					<div class="swiper-slide">
						<picture>
							<source
								srcset="./images/gallery-reviews/gallery2@1200.jpg 1x, ./images/gallery-reviews/gallery2@1200x2.jpg"
								media="(min-width: 1200px)" />
							<source
								srcset="./images/gallery-reviews/gallery2@480.jpg 1x, ./images/gallery-reviews/gallery2@480x2.jpg"
								media="(min-width: 768px)" />
							<source
								srcset="./images/gallery-reviews/gallery2@768.jpg 1x, ./images/gallery-reviews/gallery2@768x2.jpg"
								media="(min-width: 480px)" />
							<img class="gallery__img" src="./images/gallery-reviews/gallery2@320.jpg" alt="">
						</picture>
					</div>
					<div class="swiper-slide">
						<picture>
							<source
								srcset="./images/gallery-reviews/gallery3@1200.jpg 1x, ./images/gallery-reviews/gallery3@1200x2.jpg"
								media="(min-width: 1200px)" />
							<source
								srcset="./images/gallery-reviews/gallery3@480.jpg 1x, ./images/gallery-reviews/gallery3@480x2.jpg"
								media="(min-width: 768px)" />
							<source
								srcset="./images/gallery-reviews/gallery3@768.jpg 1x, ./images/gallery-reviews/gallery3@768x2.jpg"
								media="(min-width: 480px)" />
							<img class="gallery__img" src="./images/gallery-reviews/gallery3@320.jpg" alt="">
						</picture>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>