<header class="header background-color">
  <div class="container">
    <img class="logo" src="./images/Logo.png" alt="Лого компанії" width="60">
    <ul>
      <li><a href="">Home</a></li>  <!-- color: #FCFCFC;  color hover: #F8D24E; -->
      <li><a href="">How it’s made?</a></li>   
      <li><a href="">Our products</a></li>   
      <li><a href="">Contact</a></li> 
    </ul>
      <button type="button">Buy now<span>&gt;</span></button>  <!--bcg-color: F8D24E; bcg-hover:0A8817; color:FFFFFF-->
  </div>
</header>