<section class="">
  <div class="container">
    <div class="hero__box">
    
    
      <h1 class="hero__title">ice cream<br>made with<br><span class="hero__big">passion</span></h1>
  
      <ul class="hero__process">
        <li class="hero__products"><a href="#" class="hero__link" data-modal-open>Products</a></li>
        <li class="hero__how"><a href="#" class="hero__link">How it’s ma?</a></li>
      </ul>
      
      
      <div class="hero__numer">
      <ul class="hero__numbers">
        <li class="hero__numeric">16 <span class="hero__num">cafes</span></li>
        <li class="hero__numeric">23 <span class="hero__num">food trucks</span></li>
      </ul>
      </div>
  
      <div class="hero__label">
        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
         
        </p>
  
        <a href="#" class="hero__arrow">
        <svg class="hero__icon" width="40" height="16">
          <use href="./images/symbol-defs.svg#arrow-hero"></use>
        </svg>
        </a>
      </div>
      
      <div class="hero__images">
  
      
        <picture>
        <source srcset="./images/hero/mobile-ice-cream.png   1x, ./images/hero/mobile-ice-cream2x.png 2x" media="(max-width: 767px)">
        <source srcset="./images/hero/tablet-ice-cream.png   1x, ./images/hero/tablet-ice-cream2x.png 2x" media="(max-width: 1199px)">
        <source srcset="./images/hero/desktop-ice-cream.png   1x, ./images/hero/desktop-ice-cream2x.png 2x" media="(min-width: 1200px)">
        <img class="hero__ice" src="./images/hero/mobile-ice-cream.png" alt="Фото морозива Ріжок">
      </picture>
    
  
      <picture>
        <source srcset="./images/hero/mobile-dots.png   1x, ./images/hero/mobile-dots2x.png 2x" media="(max-width: 767px)">
        <source srcset="./images/hero/tablet-dots.png   1x, ./images/hero/tablet-dots2x.png 2x" media="(max-width: 1199px)">
        <source srcset="./images/hero/desktop-dots.png   1x, ./images/hero/desktop-dots2x.png 2x" media="(min-width: 1200px)">
        <img class="hero__dots" src="./images/hero/mobile-dots.png" alt="Фото крапок">
      </picture>
    
  
    <picture>
      <source srcset="./images/hero/tablet-icecreams.png   1x, ./images/hero/tablet-icecreams2x.png 2x" media="(max-width: 1199px)">
      <source srcset="./images/hero/desktop-icecreams.png   1x, ./images/hero/desktop-icecreams2x.png 2x" media="(min-width: 1200px)">
      <img class="hero__icecreams" src="./images/hero/tablet-icecreams.png" alt="Фото крапок">
    </picture>
  
  
    </div>
      </div>
  </div>
</section>