<div class="menu container">
    <img class="logo" src="./images/Logo.png" alt="Лого компанії" >
    <button class="button-close">
        <svg  width="32" height="32">
            <use href="./images/symbol-defs.svg#weight"></use>
        </svg>
    </button>
    <div class="menu-content">
        <div>
            <ul class="menu-list">
                <li class="menu-list__item"><a class="menu-list__link href="">Home</a></li>  
                <li class="menu-list__item"><a class="menu-list__link href="">How it’s made?</a></li>   
                <li class="menu-list__item"><a class="menu-list__link href="">Our products</a></li>   
                <li class="menu-list__item"><a class="menu-list__link href="">Contact</a></li> 
            </ul>
        </div>
        <div>
            <button type="button">Buy now<span>&gt;</span></button>
        </div>
    </div>
</div>