<div class="menu container is-open js-menu-container">
  <picture>
    <source
      srcset="./images/header/Logo.png 1x, ./images/header/logo-desktop-2x.png 2x"
      media="(min-width:1200px)"
    />
    <source
      srcset="./images/header/logo-tablet-1x.png 1x, ./images/header/logo-tablet-2x.png 2x"
      media="(min-width:480px)"
    />
    <source srcset="./images/header/logo-mob-1x.png 1x, ./images/header/logo-mob-2x.png 2x" />
    <img
      class="logo"
      srcset="./images/header/logo-desktop-2x.png 2x"
      src="./images/header/Logo.png"
      alt="Лого компанії"
    />
  </picture>
  <button class="button-close js-close-menu">
    <svg class="close-icon" width="32" height="32">
      <use href="./images/symbol-defs.svg#close"></use>
    </svg>
  </button>
  <div class="menu-content">
    <nav>
      <div>
        <ul class="menu-list">
          <li class="menu-list__item"><a class="menu-list__link href=">Home</a></li>
          <li class="menu-list__item"><a class="menu-list__link href=">How it’s made?</a></li>
          <li class="menu-list__item"><a class="menu-list__link href=">Our products</a></li>
          <li class="menu-list__item"><a class="menu-list__link href=">Contact</a></li>
        </ul>
      </div>
    </nav>
    <div>
      <button class="pretty-button--fill pretty-button" type="button">
        Buy now<span>&gt;</span>
      </button>
    </div>
  </div>
</div>
