<div class="backdrop is-hidden">
    <div class="modal-ingredients">
     
      
     <p class="modal-ingredients__title">Chololate icecream</p> 
      <a href="" class="modal-ingredients__photo">     
      <img src='./images/products/ellipse1x.jpg' width="200" alt="морозивo">
     </a>
    
    
     <div class="modal-ingredients__weight">  

        <ul class="modal-ingredients__types list">
        <li class="modal-ingredients__item">
            <div class="modal-ingredients__item-weight">
                <p class="modal-ingredients__item-weight-text">kcal</p>
         <div class="modal-ingredients__item-dot">
            <p class="modal-ingredients__item-dot-text">320</p>
         </div> 
        </div>
        </li>
        <li class="modal-ingredients__item">
            <div class="modal-ingredients__item-weight">
                <p class="modal-ingredients__item-weight-text">Prote...</p>
            <div class="modal-ingredients__item-dot">
                <p class="modal-ingredients__item-dot-text">4g</p>
            </div>
             </div> 
        
     </li>  
        <li class="modal-ingredients__item">
            <div class="modal-ingredients__item-weight">
                <p class="modal-ingredients__item-weight-text">Fats</p>
            
            <div class="modal-ingredients__item-dot">
                <p class="modal-ingredients__item-dot-text">8,2g</p>
             </div> </div>
    </li>  
        <li class="modal-ingredients__item">
            <div class="modal-ingredients__item-weight">
                <p class="modal-ingredients__item-weight-text">Carbs</p>
            
            <div class="modal-ingredients__item-dot">
                <p class="modal-ingredients__item-dot-text">40,4g</p>
             </div> </div>
       </li>  
    </ul>
    </div>
      
    
      
         <p class="modal-ingredients__pretitle">Ingredients</p> 
         <div class="modal-ingredients__ingredients">
         <ul class="modal-ingredients__list list">
            <li class="modal-ingredients__item-list">
                <p class="modal-ingredients__text">Milk</p>
                <p class="modal-ingredients__text" >100ml</p>
            </li>
            <li class="modal-ingredients__item-list">
               
                <p class="modal-ingredients__text">Belgian chocolate</p>
                <p class="modal-ingredients__text" >20g</p>
            </li>
            <li class="modal-ingredients__item-list">
                <p class="modal-ingredients__text">Cream</p>
                <p class="modal-ingredients__text" >150 ml</p>
            </li>
            <li class="modal-ingredients__item-list">
                <p class="modal-ingredients__text">Cocoa powder</p>
                <p class="modal-ingredients__text" > 30g</p>
            </li>
            <li class="modal-ingredients__item-list">
                <p class="modal-ingredients__text">Sugar</p>
                <p class="modal-ingredients__text" >40g</p>
            </li>
            <li class="modal-ingredients__item-list">
                <p class="modal-ingredients__text">Vanilla sugar</p>
                <p class="modal-ingredients__text" >10g</p>
            </li>
                
        </ul>
           
        </div>
    
     
      
    <form class="modal-ingredients__form">
      
     <div class="modal-ingredients__cream">
    
      <label for="name" class="modal-ingredients__lable">Name</label> 
      <input type="text"
      name="name"
      class="modal-ingredients__input"
      id="name"
      required> 
    
      <label for="phone" class="modal-ingredients__lable">Phone</label> 
      <input type="tel"
      name="phone"
      class="modal-ingredients__input"
      id="phone"
      required> 
    
    
      <label for="comment" class="modal-ingredients__lable">Comment</label> 
      <textarea name="comment"
      class="modal-ingredients__comments"
      id="comment"
      row="25"
      ></textarea> 
     </div>   
    </form>
    </div>  
    </div>
