<div class="backdrop is-hidden">
<div class="modal-ingredients">
 <p class="modal-ingredients__title">Chololate icecream</p> 
 <!-- <svg class="modal-ingedients__icon">
    <use href="./images/products/ice-cream1_1xn.jpg 1x,
     ../images/products/icecream.jpg></use>

 </svg>   -->
 
 <ul class="modal-ingredients__types list">
    <li class="modal-ingredients__item">
        <svg class="modal-ingredients__"></svg>
    </li>
    <li class="modal-ingredients__item"></li>
    <li class="modal-ingredients__item"></li>
    <li class="modal-ingredients__item"></li>
</ul>

    <div class="modal-ingredients__ingredients">
     <p class="modal-ingredients__pretitle">Ingredients</p> 
     <ul class="modal-ingredients__list list">
        <li class="modal-ingredients__item-list"></li>
        <li class="modal-ingredients__item-list"></li>
        <li class="modal-ingredients__item-list"></li>
        <li class="modal-ingredients__item-list"></li>
    
    </ul>
       
    </div>

 
</div>    
<form class="modal-ingredients__form">
 <div class="modal-ingredients__"></div>   
</form>
</div>