<div class="backdrop">
  <div class="modal-how-its-made">
    <button type="button" class="close-btn">
      <svg width="24" height="24">
        <use href="./images/symbol-defs.svg#close"></use>
      </svg>
    </button>
    <p class="modal-how-its-made__title">How it’s made?</p>
    <div class="modal-location__wrapper">
      <iframe
        class="modal-how-its-made__video"
        src="https://www.youtube.com/embed/7gJIyHnD710"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="modal-how-its-made__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </div>
  </div>
</div>
