<section class="products">
  <div class="container"> 
    
    <p class="products__lable">100% natural</p>
    <h2 class="products__title">products</h2> 
    
    <ul class="products__list list">

       
      <li class="products__item">
       <a href="" class="products__card link">
        <div class="products__card-icecream">
         
    <div class="products__thum">
           <!-- <picture>
            <source srcset='./images/products/kelseydesk1x.jpg 1x,
            ./images/products/kelseydesk2x.jpg 2x' 
            media="(min-width:1200px)">
            <source srcset='./images/products/kelseytab1x.jpg 1x,
            ./images/products/kelseytab2x.jpg 2x' 
            media="(min-width:768px)">
            <source srcset='./images/products/kelsey1xmobo.jpg 1x,
            ./images/products/kelsey1xmobo.jpg 2x' 
            media="(min-width:480px)">
              
         <img src='./images/products/kelsey1xmobo.jpg' width="200" alt="три морозива">
         </picture>                     -->
            </div>
         
     <h3 class="products__pretitle">ice cream</h3>
      <p class="products__text">Soft ice cream with a 
       delicate taste. Made with milk,
        cream, sugar and natural stabilizer</p>

         </div>
      

     
   
    </a>
    </li>
 

  <li class="products__item">
  <div class="products__card-milkshakes">
    <!-- <picture>
      <source srcset='./images/products/pariwatdesk1x.jpg 1x,
      ./images/products/pariwatdesk2x.jpg 2x' 
      media="(min-width:1200px)">
      <source srcset='./images/products/pariwattab1x.jpg 1x,
      ./images/products/pariwattab2x.jpg 2x' 
      media="(min-width:768px)">
      <source srcset='./images/products/pariwat1xmob.jpg 1x,
      ./images/products/pariwat2xmob.jpg 2x' 
      media="(min-width:480px)">
        
   <img src='./images/products/pariwat1xmob.jpg' width="200" alt="три морозива">
   </picture>         -->

      

  <h3 class="products__pretitle">milkshakes</h3>
  <p class="products__text">Fragrant invigorating 
    drink created from 100% natural
     ingredients without the use of
     preservatives and flavor enhancers</p>
          
   </div>
   </li>

  <li class="products__item">
  <div class="products__card-icecoffee">
    <!-- <picture>
      <source srcset='./images/products/victordesk1x.jpg 1x,
      ./images/products/victordesk1x.jpg 2x' 
      media="(min-width:1200px)">
      <source srcset='./images/products/victortab1x.jpg 1x,
      ./images/products/victortab2x.jpg 2x' 
      media="(min-width:768px)">
      <source srcset='./images/products/victor1xmob.jpg 1x,
     ./images/products/victor2xmob.jpg 2x' 
      media="(min-width:480px)">
        
   <img src='./images/products/victor1xmob.jpg' width="200" alt="три морозива">
   </picture>   -->

  <h3 class="products__pretitle">ice coffee</h3>
  <p class="products__text">Sweet drinks based on milk
     and ice cream, supplemented with syrups, 
     fruits, berries and other sweets of your choice</p>

   </div>
    </li>
  
  </ul>
</div>
</div> 
  </section>