<section class="products section">
  <div class="container">
      <p class="products__pretitle">100% natural</p>
      <h2 class="products__title">products</h2>
      <ul class="products__list">
          <li class="products__card products__card--ice-cream">
            <div class="products__wrap products__wrap--green">
              <picture>
                <source 
                srcset="./images/products/kelsey-curtis-modal-tab.jpg 1x, ./images/products/kelsey-curtis-modal-tab-2x.jpg 2x" 
                media="(min-width:768px)">
                <source 
                srcset="./images/products/kelsey-curtis-modal-mob.jpg 1x, ./images/products/kelsey-curtis-modal-mob-2x.jpg 2x" 
                media="(min-width:480px)">
                <img src="./images/products/kelsey-curtis-modal-mob.jpg" class="products__icon" alt="морозиво">
              </picture>
            </div>
              <h3 class="products-card__title">ice cream</h3>
              <p class="products-card__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                  natural stabilizer
              </p>
              <button type="button" class="product-button">
                  <svg class="product-card__icon" width="40" height="16">
                      <use href="./images/symbol-defs.svg#Arrow"></use>
                  </svg>
              </button>
          </li>
          <li class="products__card products__card--ice-coffee">
            <div class="products__wrap products__wrap--yellow">
              <picture>
                <source 
                srcset="./images/products/pariwat-pannium-modal-tab.jpg 1x, ./images/products/pariwat-pannium-modal-tab-2x.jpg 2x" 
                media="(min-width:768px)">
                <source 
                srcset="./images/products/pariwat-pannium-modal-mob.jpg 1x, ./images/products/pariwat-pannium-modal-mob-2x.jpg 2x" 
                media="(min-width:480px)">
                <img src="./images/products/pariwat-pannium-modal-mob.jpg" class="products__icon" alt="морозиво">
              </picture>
            </div>
              <h3 class="products-card__title">ice coffee</h3>
              <p class="products-card__text">Fragrant  binvigorating drink created from 100% natural ingredients without
                  the use of preservatives and flavor enhancers

              </p>
              <button type="button" class="product-button">
                  <svg width="40" height="16" class="product-card__icon">
                      <use href="./images/symbol-defs.svg#Arrow"></use>
                  </svg>
              </button>
          </li>
          <li class="products__card products__card--milkshakes">
            <div class="products__wrap products__wrap--brown">
              <picture>
                <source 
                srcset="./images/products/victor-rutka-prod-desk.jpg 1x, ./images/products/victor-rutka-prod-desk-2x.jpg 2x" 
                media="(min-width:1200px)">
                <source 
                srcset="./images/products/victor-rutka-prod-tab.jpg 1x, ./images/products/victor-rutka-modal-tab-2x.jpg 2x" 
                media="(min-width:768px)">
                <source 
                srcset="./images/products/victor-rutka-prod-mob.jpg 1x, ./images/products/victor-rutka-prod-mob-2x.jpg 2x" 
                media="(min-width:480px)">
                
                <img src="./images/products/victor-rutka-prod-mob.jpg" class="products__icon" alt="морозиво">
              </picture>
            </div>
              <h3 class="products-card__title">milkshakes</h3>
              <p class="products-card__text">Sweet drinks based on milk and ice cream, supplemented with syrups,
                  fruits, berries and other sweets of your choice

              </p>
              <button type="button" class="product-button" data-modal-open
              data-btn="modal-buy-now" data-modal="modal-buy-now">
                  <svg class="product-card__icon" width="40" height="16">
                      <use href="./images/symbol-defs.svg#Arrow"></use>
                  </svg>
              </button>
          </li>
      </ul>
  </div>
</section>