<section class="products section">
    <div class="container">
        <p class="products__pretitle">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__card products__card--ice-cream">
                <h3 class="products-card__title">ice cream</h3>
                <p class="products-card__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                    natural stabilizer
                </p>
                <button type="button" class="product-button">
                    <svg class="product-card__icon" width="40" height="16">
                        <use href="./images/symbol-defs.svg#Arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="products__card products__card--ice-coffee">
                <h3 class="products-card__title">ice coffee</h3>
                <p class="products-card__text">Fragrant invigorating drink created from 100% natural ingredients without
                    the use of preservatives and flavor enhancers

                </p>
                <button type="button" class="product-button">
                    <svg width="40" height="16" class="product-card__icon">
                        <use href="./images/symbol-defs.svg#Arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="products__card products__card--milkshakes">
                <h3 class="products-card__title">milkshakes</h3>
                <p class="products-card__text">Sweet drinks based on milk and ice cream, supplemented with syrups,
                    fruits, berries and other sweets of your choice

                </p>
                <button type="button" class="product-button">
                    <svg class="product-card__icon" width="40" height="16">
                        <use href="./images/symbol-defs.svg#Arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>