//pretty buttons

.pretty-button{
  padding: 12px 34px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;

  //txt props
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18/14);
  color: #000;



}

.pretty-button--fill{
  border: none;

  background-color: var(--accent-color);
  &:hover {
    background-color: var(--buttons-bgc);
  }

  &:focus {
    background-color: var(--buttons-bgc);
    color: #fff;
  }
}

.pretty-button--empty{
  border:solid 2px;
  border-color: var(--accent-color);
  background-color: rgba(0,0,0,0.0);

  &:hover {
    border-color: var(--buttons-bgc);
  }

  &:focus {
    border-color: var(--buttons-bgc);
    color: #fff;
  }
}


//not pretty buttons

.not-pretty-button{
  padding: 0 0;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: var(--accent-color);
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15/12);
  text-decoration-line: underline;
  background-color: rgba(0,0,0,0);


  
  @media screen and (min-width: 1200px) {
  font-size: 14px;
  line-height: calc(17/14);
  }

  &:hover {
    color: var(--buttons-bgc);
  }

  &:focus {
    color: #fff;
  }
}