.container{
  padding:0 21px;
  width: 100%;
  background-color: #84A178;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
    padding:0 100px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding:0 29px;
  }
  
 @media screen and (min-width: 1200px) {
  width: 1200px;
  padding:0 16px;
 }
}

.section{
  padding: 63px 0;
  @media screen and (min-width: 480px) {
    padding: 60px 0;
  }
}

