.logo {
  width: 40px;
  height: 37px;
  @media screen and (min-width: 480px) {
    width: 48px;
    height: 44px;
  }
  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }
}
