.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    padding: 12px 20px 64px 32px;
    width: 100vw;
    height: 100vh;

    text-align: center;

    @media screen and (min-width:1200px) {
        display: none;
    }
}

.menu-list {
    margin-top: 51px;
}

.button-close {
    

    background-color: transparent;
    border-color: transparent;
}

.menu-list__item {
    &:not(:last-child){
        margin-bottom: 32px;
    }
}

.menu-list__link {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.21;

    color: #FCFCFC;
}

.menu-list__link:hover,
.menu-list__link:focus {
    color: #131313;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.close-icon {
    fill: #FCFCFC;
}

.button-close:hover .close-icon {
    fill: #131313;
}