.menu {
    background-color: #fff;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    padding: 12px 20px 64px 32px;
    width: 100vw;
    height: 100vh;
}

.button-close {
    height: 32px;

    background-color: transparent;
    border-color: transparent;
}