.menu {
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    padding: 12px 20px 64px 32px;
    width: 100vw;
    height: 100vh;

    text-align: center;
}

.menu-list {
    margin-top: 51px;
}

.button-close {
    height: 32px;

    background-color: transparent;
    border-color: transparent;
}

.menu-list__item {
    &:not(:last-child){
        margin-bottom: 32px;
    }
}

.menu-list__link:hover,
.menu-list__link:focus {
    color: white;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}